<div class="app-container">
  <div class="nav-container">
    <nav class="main-nav">
      <div class="header">
        <img style="cursor: pointer;" src="images/logo.png"  alt="FleetCare Logo" class="logo" routerLink="/admin/dashboard" />
      </div>

      <div class="nav-links" [class.show-mobile]="menuOpen">
        <!-- Admin Links -->
        <a *ngIf="role === 'admin'" routerLink="/admin/dashboard" (click)="closeMenu()">Dashboard</a>
        <a *ngIf="role === 'admin'" routerLink="/admin/vehicle" (click)="closeMenu()">Vehicles</a>
        <a *ngIf="role === 'admin'" routerLink="/admin/schedule" (click)="closeMenu()">Scheduling</a>
        <a *ngIf="role === 'admin'" routerLink="/admin/technician" (click)="closeMenu()">Technician</a>
        <a *ngIf="role === 'admin'" routerLink="/admin/history" (click)="closeMenu()">History</a>

        <!-- Technician Links -->
        <a *ngIf="role === 'technician'" routerLink="/technician" (click)="closeMenu()">Dashboard</a>
        <a *ngIf="role === 'technician'" routerLink="/technician/myTasks" (click)="closeMenu()">Technician Tasks</a>

        <!-- Login/Logout Button -->
        <div class="nav-actions">
          <a
            *ngIf="isLoggedIn"
            (click)="logout()"
            class="login-button btn btn-danger"
            style="cursor: pointer"
          >
            Logout
          </a>
          <a
            *ngIf="!isLoggedIn"
            routerLink="/login"
            (click)="closeMenu()"
            class="login-button btn"
          >
            Login
          </a>
        </div>
      </div>

      <button class="mobile-nav-toggle" (click)="toggleMenu()">
        <i class="fa" [ngClass]="menuOpen ? 'fa-times' : 'fa-bars'"></i>
      </button>
    </nav>
  </div>
</div>
